header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(64, 161, 76, 0.56);
  border-bottom: solid 3px #C9ED2C;
}

.about-paragraph {
  position: absolute;
  bottom: 3em;
  width: 70%;
  right: 2em;
  border: none;
  line-height: 1.25;
}

.about-div {
  background-color: rgba(255, 255, 255, 0.72);
  position: relative;
  margin-bottom: 8em;
  box-shadow: 10px 10px 22px rgba(114, 85, 71, 0.35);
  height: 200px;
}

.photo {
  height: 238px;
}

#aboutContent {
  display: block;
  width: 65%;
  margin: auto;
}

.marginTop {
  margin-top: 10em;
}

h2 {
  position: absolute;
  top: 0.5em;
  margin-left: 0.5em;
  display: inline;
  font-family: 'Faster One', cursive;
  font-size: 1.5em;
}

.icon{
  width: 1.5em;
  margin-left: 0.2em;
  margin-bottom: 0.4em;
  cursor: pointer;
}
