body{
  background-image: url(./image/back\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
}

p{
  margin-top: 3px;
  text-align: center;
  top: 3px;
  background: rgb(204,204,204);
  background: rgba(12, 12, 12, 0.2);
  opacity: 0.7;
  border-radius: 10px;
}
a :hover{
  background-color: rgba(12, 12, 12);
}
#nav-list .link-list{
  position: fixed;
  float: left; 
}
.link-list :hover{
  background-color: rgba(12, 12, 12);
}
.link-list li{
  padding-top: 15px;
  background-color: #f2f2f2; 
  margin-left: 8px;
  margin-top: 50px;
  opacity: 0.5;
  border-radius: 7px;
  
  
}
.nav-bar{
  border-radius: 5px; 
  margin-top: 225px;
  font-size: 25pt;
  margin-left: 3px;
}

#nav-list .social-list{
  float: right;
  margin-right: 3px;
  margin-top: 50px;
  background-color: #f2f2f2;
  opacity: 0.7;
  border-radius: 7px;
}
.social{
  height: 35px;
  width: 35px;
  padding: 5px;
}

#div-form{
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
  opacity: 0.7;
}
.class-takeout{
  padding: 3px;
  margin-top: 5px;
}
input[type=submit]:hover {
  background-color: #45a049;
}
footer{
  margin-top: 300px;
  text-align: center;
  background-color: #333;
  color:white;
}