body{
    background: url(./image/back\ picture.jpg) repeat;
    border: 2px solid black;
}
header{
  text-align: center;
  background-color: #333;
  
}
#take-out{
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin-left: 20px;
  margin-top: 20px;
  color: white; 
  position: sticky;
}
#nav-list{
  display: inline;
}
.nav-bar{
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
li a:hover {
  background-color: #111;
}
#div-form{
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
  opacity: 0.7;
}
.class-takeout{
  padding: 3px;
  margin-top: 5px;
}
input[type=submit]:hover {
  background-color: #45a049;
}
footer{
  margin-top: 200px;
  text-align: center;
  background-color: #333;
  color:white;
}